<h2>Show watcher</h2>

<ul>

  <li>
    <strong>Course:</strong>
    <%= @watcher.course %>
  </li>

  <li>
    <strong>Section:</strong>
    <%= @watcher.section %>
  </li>

  <li>
    <strong>Open:</strong>
    <%= @watcher.open %>
  </li>

  <li>
    <strong>Waitlist:</strong>
    <%= @watcher.waitlist %>
  </li>

</ul>

<%= link "Edit", to: watcher_path(@conn, :edit, @watcher) %>
</br>
<%= link "Back", to: watcher_path(@conn, :index) %>
